@{
    ViewBag.Title = "UGoFor | What Could U Go For? (AJAX) ";
}

@Scripts.Render("~/Content/js/pure.js")
@Scripts.Render("~/Content/js/jquery.magnific-popup.min.js")
@Styles.Render("~/Content/css/magnific-popup-modal.css")

<div id="test-modal" class="white-popup-block mfp-hide">
    <h1>UGoFor?</h1>
    <p>
        What food could you go for?
    </p>
    Food:<br><input type="text" id="txtSmallComment" name="food"><br>
    Description:<br><input type="text" id="txtBigComment" name="description"><br><br>
    <p>
        <input type="button" id="btnPost" value="Post">&nbsp;&nbsp;
        <input type="button" id="btnCancel" value="Cancel" class="popup-modal-dismiss">
    </p>
    <!--<p><a class="popup-modal-dismiss" href="#">Cancel</a></p>-->
</div>

<div class="row page">
    <header id="main_header">
        <nav>
            <h1><a href="#">UGoFor</a></h1>
            <div class="pull-right">
                <span class="icon_nav">
                    <a href="#" class="home-icon"></a>
                    <a href="#test-modal" class="post-icon popup-modal"></a>
                    <a href="#" class="genie-icon"></a>
                </span>
            </div>
        </nav>
    </header>
    <span class="posts">
        <article id="post">
            <img class="avatar" src="" style="float: left" />
            <div class="arrow_box">
                <span class="day pull-right"></span>
            </div>
            <span class="collection"><img class="cover" src=""></span>
            <div class="big-comment">
                <p></p>
                <span class="pull-right">
                    <a href="#" class="read-more"></a>
                    <a href="#" class="heart"></a>
                </span>
            </div>
        </article>
    </span>
</div>

<script>   
    var coordinates;
    var snapHtml;

    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } 
    }

    function showPosition(position) {
        coordinates = ("Latitude: " + position.coords.latitude +
        " Longitude: " + position.coords.longitude);
    }

    function ajaxit() {
        $.ajax({
            type: "GET",
            url: "../api/posts",
            error: function (xhr, statusText) { alert("Error: " + statusText); },
            success: function (msg) { runit(msg); }
            }
		);
    }

    function runit(data) {
        var directive = {
            'article': {
                'post<-': { //for each entry in posts name the element 'post'
                    '.avatar@src': 'post.ProfilePicURL', //the dot selector, means the current node (here a LI),
                    '+.arrow_box': 'post.SmallComment',
                    '.cover@src': 'post.PostedImage',
                    //'.collection': {
                    //    'pimage<-post.SuggestImages': {
                    //        '.cover@src': 'pimage.Url'
                    //    }
                    //},
                    '.day': 'post.TimePosted',
                    '.big-comment p': 'post.BigComment'
                }
            }
        };
        $p('.posts').render(data, directive);
    }

    function sendPost() {
        $.ajax
            ({
                type: "POST",
                url: "../api/posts",
                dataType: 'Content-Type: application/json',
                async: false,
                data: {
                    "PostID": 1, "ProfilePicURL": "xxx", "SmallComment": $("#txtSmallComment").val(),
                    "TimePosted": "xxx", "PostedImage": "xxx", "BigComment": $("#txtBigComment").val(),
                    "Location": coordinates
                },
                success: function () {
                    $('#btnCancel').trigger('click');
                    $('.posts').html(snapHtml);
                    ajaxit();
                }
            })
    }
</script> 

<script>
    $(function () {

        snapHtml = $('.posts').html();

        //console.log(snapHtml);

        ajaxit();        

        $('.popup-modal').magnificPopup({
            type: 'inline',
            preloader: false,
            focus: '#username',
            modal: true
        });

        $(document).on('click', '.popup-modal-dismiss', function (e) {
            e.preventDefault();
            $.magnificPopup.close();
        });

        $("#btnPost").click(function () {
            sendPost();
        });

        getLocation();

    });
</script>

